@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: #222;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 0 auto; */
}
.budgetHeadline{
    display: none;
}

/* Meals */
.mealHeadline{
    color: greenyellow;
}


.breakContainer, .lunchContainer, .dinnerContainer, .snacksContainer{
    display: flex;
    flex-direction: column;
}