@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: #fafafa;
    color: #222;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
h1{
    font-size: 3rem;
}
input{
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: #f1f1f1;
    color: #1eaaff;
}
button{
    background-color: #1eaaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.4rem;
    cursor: pointer;
}
select{
    background-color: #48c9b0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.35rem;
    cursor: pointer;
}
.mainForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 0 auto; */
}
.headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.budgetHeadline{
    display: none;
    font-size: 1.8rem;
}
#budget{
    font-size: 1.8rem;
}
.entriesContainer{
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
}

/* Meals */
.mealsForm{
    /* background-color: #ffeecf; */
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.mealsForm button{
    flex-grow: 1;
}
.mealContainer{
    display: flex;
    flex-direction: column;
}

/* Summary */
.summaryContainer{
    margin-top: 3rem;
    display: none;
    flex-direction: column;
    gap: 0.8rem;
}
.summaryContainer h2{
    color: #48c9b0;
}


